{
  //* Configuration for JavaScript files (global)
  "extends": ["airbnb", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "none",
        "printWidth": 100,
        "tabWidth": 2,
        "semi": true,
        "bracketSameLine": true,
        "endOfLine": "auto"
      }
    ],
    "no-console": "off"
  },
  "overrides": [
    //* Configuration for TypeScript files
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "env": {
        "browser": true,
        "es2021": true
      },
      // * if need parse
      // "parser": "@typescript-eslint/parser",
      // "parserOptions": {
      //   "ecmaFeatures": {
      //     "jsx": true
      //   },
      //   "ecmaVersion": "latest",
      //   "sourceType": "module"
      // },
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "plugins": ["react", "react-hooks", "@typescript-eslint", "unused-imports", "@emotion"],
      "extends": [
        "airbnb",
        "airbnb/hooks",
        "airbnb-typescript",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:jsx-a11y/recommended",
        "plugin:import/recommended",
        "plugin:import/typescript",

        "prettier",
        "plugin:prettier/recommended"
      ],
      "rules": {
        "@typescript-eslint/consistent-type-imports": [
          "error",
          {
            "prefer": "type-imports",
            "disallowTypeAnnotations": false
          }
        ],
        "no-param-reassign": [
          "error",
          {
            "props": true,
            "ignorePropertyModificationsFor": ["state"]
          }
        ],
        "no-use-before-define": "off",
        "no-debugger": "warn",
        "no-console": "off",
        "no-useless-escape": "off",
        "default-param-last": "off",
        "camelcase": "error",
        "spaced-comment": "error",
        "quotes": ["error", "single"],
        "func-names": "off",

        "unused-imports/no-unused-imports-ts": "error",
        "import/prefer-default-export": "off",
        "import/no-unresolved": "off",
        "import/extensions": [
          "error",
          {
            "ts": "never",
            "tsx": "never",
            "scss": "off"
          }
        ],
        "semi": ["error", "always"],
        "jsx-a11y/anchor-is-valid": [
          "error",
          {
            "components": ["Link"],
            "specialLink": ["hrefLeft", "hrefRight"],
            "aspects": ["invalidHref", "preferButton"]
          }
        ],

        "react/react-in-jsx-scope": "off",
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
        "react/display-name": ["off", { "ignoreTranspilerName": true }],
        "react/function-component-definition": "off",

        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "jsx-a11y/click-events-have-key-events": "off",

        "@emotion/jsx-import": "error",
        "@emotion/no-vanilla": "error",
        "@emotion/import-from-emotion": "error",
        "@emotion/styled-import": "error",

        "prettier/prettier": [
          "error",
          {
            "singleQuote": true,
            "trailingComma": "none",
            "printWidth": 100,
            "tabWidth": 2,
            "semi": true,
            "bracketSameLine": true,
            "endOfLine": "auto"
          }
        ]
      }
    },
    //* Configuration for Stories files
    {
      "files": ["**/*.stories.@(ts|tsx|js|jsx|mjs|cjs)"],
      "extends": ["plugin:storybook/recommended"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "rules": {
        "storybook/hierarchy-separator": "error",
        "storybook/default-exports": "off",
        "react/function-component-definition": "off"
      }
    },
    //* Configuration for Jest test files
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "plugins": ["jest", "jest-formatting", "testing-library", "jest-dom"],
      "extends": [
        "plugin:jest/recommended",
        "plugin:jest-formatting/recommended",
        "plugin:testing-library/react",
        "plugin:jest-dom/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-unsafe-call": "off",
        "jest-dom/prefer-in-document": "off",
        "testing-library/no-container": "off",
        "testing-library/no-node-access": "off"
      }
    }
  ]
}
